<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>UILaunchScreen</key>
	<dict>
		<key>UIImageName</key>
		<string>splash</string>
	</dict>
	<key>NSPhotoLibraryUsageDescription</key>
	<string>You can send your photos to Llama and chat about them.</string>
	<key>NSMicrophoneUsageDescription</key>
	<string>You can send voice recordings to Llama and chat about them.</string>
	<key>NSCameraUsageDescription</key>
	<string>You can take recordings and chat with Llama about them.</string>
	<key>UIBackgroundModes</key>
	<array>
		<string>remote-notification</string>
	</array>
</dict>
</plist>
